:root {
  --primary-color: #525a53;
  --secondary-color: #f8f2ed;
  --terciary-color: #a35c3c;
  --primary-font: "Roboto", sans-serif;
  --secondary-font: "Mrs Saint Delafield", cursive;
  --terciary-font: "Montserrat", sans-serif;
}

body {
  background-color: var(--secondary-color);
}

h1,
h3,
p {
  font-family: var(--primary-font);
}

p {
  font-size: 18px;
  font-weight: 300;
  line-height: 30px;
  color: var(--primary-color);
}

.banner {
  background-image: url(/images/banner-site-maos.png);
  background-position: center center;
  background-size: cover;
  width: 1440px;
  height: 700px;
  background-repeat: no-repeat;
  margin: 0 auto;
}

.section-2-home {
  padding: 0 500px;
}

.section-2-home h1 {
  color: var(--primary-color);
  font-size: 40px;
  font-weight: 700;
}

.primary-button {
  font-family: var(--terciary-font);
  font-size: 14px;
  font-weight: 700;
  line-height: 17px;
  color: var(--secondary-color);
  background: var(--primary-color);
  padding: 15px 30px;
  border-radius: 50px;
  text-decoration: none;
}

.primary-button a :hover {
  color: var(--primary-color);
  background: var(--secondary-color);
  border: 1px solid var(--primary-color);
}

.description-section,
.about-page,
.portfolio-page,
.contact-page {
  padding: 30px 150px;
}

.description h2 {
  font-family: var(--secondary-font);
  font-size: 60px;
  color: #cbb4a3;
}

.about-page h2 {
  font-size: 20px;
  color: var(--terciary-color);
}

.about-description h1 {
  font-size: 65px;
  color: var(--primary-color);
}

.about-description h3 {
  font-family: var(--secondary-font);
  color: var(--primary-color);
  font-size: 40px;
  font-weight: 700;
}

.img-about {
  opacity: 0.8;
  max-width: 90%;
}

.social-icons a {
  color: var(--primary-color);
}

.social-icons a :hover {
  color: var(--terciary-color);
}

.portfolio-page,
.contact-page h1 {
  color: var(--terciary-color);
}

.portfolio-page h3,
p,
li {
  color: var(--primary-color);
}

.portfolio-page li,
p {
  opacity: 0.5;
  font-size: 16px;
}

.contact-page {
  color: var(--primary-color);
}

.contact-page p {
  display: inline;
  font-size: 20px;
}

.navbar-maos {
  color: var(--primary-font);
}

@media (max-width: 768px) {
  .section-2-home {
    padding: 0 40px;
  }

  .description-section {
    padding: 0px 10px;
  }

  .description-section h2 {
    text-align: center;
  }

  .description {
    padding-top: 30px;
  }

  .about-page {
    text-align: center;
    padding: 30px 20px;
  }

  .about-description {
    padding-top: 30px;
  }

  .about-description h1 {
    font-size: 40px;
  }

  .about-description h3 {
    padding-top: 10px;
  }

  .portfolio-page,
  .homepage,
  .contact-page {
    padding: 30px 20px;
  }
}
