:root {
  --primary-color: #525a53;
  --secondary-color: #f8f2ed;
  --primary-font: "Roboto", sans-serif;
  --secondary-font: "Mrs Saint Delafield", cursive;
  --terciary-font: "Montserrat", sans-serif;
}

body {
  background-color: var(--secondary-color);
}

header {
  background-image: url(/images/loom-maos-textile-art.png);
  background-position: center center;
  background-size: cover;
}

image header {
  opacity: 0.8;
}

h1,
h3,
p {
  font-family: var(--primary-font);
}

header h1 {
  font-size: 120px;
  font-weight: 700;
  line-height: 84px;
}

header h2 {
  font-size: 80px;
  font-family: var(--secondary-font);
}

h3 {
  color: var(--primary-color);
  font-size: 40px;
  font-weight: 700;
}

p {
  font-size: 18px;
  font-weight: 300;
  line-height: 30px;
  color: var(--primary-color);
}

.hero {
  padding: 250px 0;
  text-align: center;
  color: var(--primary-color);
}

.section-2-home {
  padding: 0 500px;
}

.primary-button {
  font-family: var(--terciary-font);
  font-size: 14px;
  font-weight: 700;
  line-height: 17px;
  color: var(--secondary-color);
  background: var(--primary-color);
  padding: 15px 30px;
  border-radius: 50px;
  text-decoration: none;
}

.description-section {
  padding: 30px 150px;
}

.description h2 {
  font-family: var(--secondary-font);
  font-size: 60px;
  color: #cbb4a3;
}

@media (max-width: 768px) {
  header h1 {
    font-size: 75px;
  }

  header h2 {
    font-size: 50px;
  }

  .section-2-home {
    padding: 0 40px;
  }

  .description-section {
    padding: 0px 10px;
    text-align: center;
  }

  .description {
    padding-top: 30px;
  }
}
